body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
    display: flex;
    width: 100%;
    margin-bottom: 150px;
}
.uper-area{
    width: 50%;
    padding-left: 2%;
}
.uper-area img{
width: 75%;
}
a{
    text-transform: uppercase;
}
.uper-button{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.header-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}