body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
  
    width: 100%;
    margin-bottom: 100px;
    margin-bottom: 0 auto;
    padding-top: 50px;;
}
.uper-area{
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
}
.uper-area img{
width: 85%;
}
a{
    text-transform: uppercase;
}
.uper-button{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.header-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}
.flex-area{
    display: flex;
}
.experance-items{
    display: flex;
    
}
.full-developer{
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(235, 55, 196),rgb(255, 0, 85));
    border-image-slice: 1;
}
.baby-developer{
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(124, 32, 230),cyan);
    border-image-slice: 1;
}
h3{
    color: orange;
}
h2{
    font-size: 40px;;
}
.experance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: px;
}
footer{
    text-align: center;
}
p{
    color: gray;
}